.avatar_img{

    width: 200px;
    height: 200px;

    padding: 10px;
    margin: 0;
    border: 1px solid black ;
}

.imgAlign{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
